# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Downloaded files
downloaded_files/

# Virtual Environment
venv/
env/
ENV/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Local development
main.py
local_tests/
*.log 